<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container mat-app-background">
  <mat-toolbar color="primary">
    <span>Storyteller</span>
  </mat-toolbar>

  <mat-sidenav-container class="content-container">
    <mat-sidenav mode="side" opened="true" class="sidenav">
      <mat-list>
        <mat-list-item routerLink="kids" routerLinkActive="active">
          <mat-icon matListIcon>face</mat-icon>
          <span matLine>Kids</span>
        </mat-list-item>
        <mat-list-item routerLink="picture-books" routerLinkActive="active">
          <mat-icon matListIcon>book</mat-icon>
          <span matLine>Picture Books</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
