<form (submit)="onSubmit()" #kidForm>

  <mat-form-field>
    <input type="text"
           [(ngModel)]="model.firstName"
           matInput
           placeholder="First Name"
           name="firstName"
           #firstName="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           [(ngModel)]="model.lastName"
           matInput
           placeholder="Last Name"
           name="lastName"
           #lastName="ngModel">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Year of Birth" name="yearOfBirth"
           [(ngModel)]="model.yearOfBirth" #yearOfBirth="ngModel">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event, dp)">
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           [(ngModel)]="model.lastName"
           matInput
           placeholder="City of Birth"
           name="lastName"
           #lastName="ngModel">
  </mat-form-field>
  <mat-form-field>

    <input type="text"
           [(ngModel)]="model.lastName"
           matInput
           placeholder="State of Birth"
           name="lastName"
           #lastName="ngModel">
  </mat-form-field>
  <mat-form-field>

    <input type="text"
           [(ngModel)]="model.lastName"
           matInput
           placeholder="Mother's Education"
           name="lastName"
           #lastName="ngModel">
  </mat-form-field>
  <mat-form-field>

    <input type="text"
           [(ngModel)]="model.lastName"
           matInput
           placeholder="Father's Education"
           name="lastName"
           #lastName="ngModel">
  </mat-form-field>
</form>
