/client/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/.idea
/.vscode
/.vagrant
/client/dist
/server/Homestead.json
/server/Homestead.yaml
/client/npm-debug.log
/client/yarn-error.log
/server/.env

/server/public/3rdpartylicenses.txt
/server/public/*.js
/server/public/*.css
