<div class="container">

  <div class="loading-shade"
       *ngIf="isLoading">
    <mat-spinner [diameter]="32"></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z1">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let kid">
        <button (click)="editKid(kid)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteKid(kid)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let kid"> {{kid.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let kid"> {{kid.lastName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div class="add-button-container">
    <a routerLink="new" mat-fab>
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
