<form (submit)="onSubmit()" #pictureBookForm>

  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlex="1 1">

      <mat-form-field>
        <input #title="ngModel"
               [(ngModel)]="model.title"
               matInput
               name="title"
               placeholder="Title"
               type="text"
        >
      </mat-form-field>
      <mat-form-field>
        <input #publisher="ngModel"
               [(ngModel)]="model.publisher"
               matInput
               name="publisher"
               placeholder="Publisher"
               type="text"
        >
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fx fxFlex="1 1">
      <mat-form-field>
        <input #authors="ngModel"
               [(ngModel)]="model.authors"
               matInput
               name="authors"
               placeholder="Authors"
               type="text"
        >
      </mat-form-field>
      <mat-form-field>
        <input #yearOfPublishing="ngModel"
               [(ngModel)]="model.yearOfPublishing"
               matInput
               name="yearOfPublishing"
               placeholder="Year Of Publishing"
               type="text"
        >
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fx fxFlex="1 1">
      <input #file (change)="onFilesAdded()" accept="image/*" multiple style="display: none" type="file"/>
      <button (click)="addFiles()" type="button">Add Files</button>
      <div *ngFor="let file of files">
        <st-image-file-viewer [file]="file"></st-image-file-viewer>
        <button (click)="removeFile(file)" type="button">X</button>
      </div>
      <div>
        <button (click)="uploadFiles()" type="button">UPLOAD</button>
      </div>
    </div>
  </div>
</form>
